<h1>StaticPages#about</h1>
<p>Find me in app/views/static_pages/about.html.erb</p>
<p>Shop around and add items to your cart!</p>
<p>If you're an administrator, login with your username and password to obtain administrator privileges on the store page.</p>
